Brotli
certifi
chardet
click
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-renderer
dash-table
filelock
Flask
Flask-Compress
future
gunicorn
idna
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
packaging
plotly
pyparsing
regex
requests
retrying
sacremoses
sentencepiece
six
tokenizers
torch
tqdm
transformers
urllib3
Werkzeug
